:root {
  --pink: #9026dc;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 2rem;
  font-family: "Work Sans", sans-serif;
  /* min-height: 4000px; */
}

.mynavbar {
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);

  backdrop-filter: blur(4px);
}
.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
  font-size: 1rem;
}
.jumbo {
  background-color: #eee;
  padding-top: 5rem;
  background-image: url(../img/gb3.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.jumbo h2 {
  /* font-family: "Lobster";
  font-weight: bold;
  color: var(--pink); */
  text-shadow: 3px 3px 0px #ffffff, 8px 8px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);

  background-size: 40%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.08);
  animation: zoom 10s ease 500ms forwards;
}

.home {
  color: #fff;
}
.home h2 {
  color: var(--pink);
  font-family: "Sacramento";
  font-size: 5rem;
  font-weight: bold;
}
.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.home p {
  color: #666;
  font-size: 1.1rem;
  text-align: justify;
}
/* .home .couple {
  margin-top: 200px;
} */
.home .couple h3 {
  font-family: "Sacramento";
  font-size: 2.4rem;
  color: var(--pink);
}
/* .home .couple img {
  width: 100%;
} */

.info {
  background-color: var(--bg);
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
}
.info h2,
.story h2,
.galery h2,
.skill h2,
.project h2,
.contact h2 {
  color: var(--pink);
  font-family: "Sacramento";
  font-size: 5rem;
  font-weight: bold;
}
.info .alamat {
  font-size: 1.1rem;
}
.info .description {
  font-size: 1rem;
  font-weight: 300;
}
.story {
  background-color: #eee;
}

.story,
.galery,
.project,
.home,
.contact {
  padding-top: 10rem;
}
.story span,
.galery span,
.contact span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}
.story p,
.galery p,
.skill p,
.project p,
.contact p {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}
.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.info .card-body {
  font-size: 1rem;
}
.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}
.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
  background-color: #eee;
}
.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 50%;
}
.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}
.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}
.timeline li::after {
  clear: both;
}

.timeline li .timeline-img {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 1.5rem;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
}
.timeline li h3 {
  font-size: 1.5rem;
}
.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}
.timeline li .timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}
.timeline li.timeline-inverted .timeline-panel {
  float: right;
}
.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}
.galery {
  background-color: #fff;
}
.skill h4 p {
  font-weight: bold;
}
.project {
  background-color: #eee;
}
.project a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--pink);
}
.contact {
  background-color: #eee;
  height: 100%;
}
.contact .list-group {
  font-size: 1rem;
  font-weight: 300;
}
.contact .form-group {
  font-size: 1.5rem;
  font-weight: 300;
  font-weight: bold;
}
/*sosmed */
.social-panel-container {
  position: fixed;
  right: 0;
  bottom: 80px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
  transform: translateX(-10px);
}

.social-panel {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
  border: 5px solid #001f61;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Muli";
  position: relative;
  height: 169px;
  width: 370px;
  max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
  border: 0;
  color: #97a5ce;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.social-panel button.close-btn:focus {
  outline: none;
}

.social-panel p {
  background-color: #001f61;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 2px 17px 6px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  text-align: center;
  width: 235px;
}

.social-panel p i {
  margin: 0 5px;
}

.social-panel p a {
  color: #ff7500;
  text-decoration: none;
}

.social-panel h4 {
  margin: 20px 0;
  color: #97a5ce;
  font-family: "Muli";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.social-panel ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-panel ul li {
  margin: 0 10px;
}

.social-panel ul li a {
  border: 1px solid #dce1f2;
  border-radius: 50%;
  color: #001f61;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.social-panel ul li a:hover {
  border-color: #ff6a00;
  box-shadow: 0 9px 12px -9px #ff6a00;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: #001f61;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.floating-btn:hover {
  background-color: #ffffff;
  color: #001f61;
}

.floating-btn:focus {
  outline: none;
}

.floating-text {
  background-color: #001f61;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-family: "Muli";
  padding: 7px 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 998;
}

.floating-text a {
  color: #ff7500;
  text-decoration: none;
}
footer {
  font-size: 1.5rem;
}
/* media query */
@media screen and (max-width: 300px) {
  .social-panel-container.visible {
    transform: translateX(0px);
  }

  .floating-btn {
    right: 10px;
  }
}

/* extra large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .timeline::after {
    left: 65px;
  }
  .timeline li .timeline-img {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }
  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }
  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }
  .sticky-top {
    overflow: hidden;
  }
  .timeline li .timeline-img {
    width: 140px;
    height: 140px;
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
  .simply-countdown > .simply-section {
    padding: 44px;
    margin: 3px;
  }
  .timeline li .timeline-img {
    width: 50px;
    height: 50px;
  }
  .timeline li .timeline-panel {
    width: 60%;
    transform: translateX(-20px);
  }
  .timeline li .timeline-panel::before {
    top: 30px;
  }
  .timeline li .timeline-panel::after {
    top: 31px;
  }
  .jumbo {
    padding-top: 28rem;
  }
  /* .home {
    padding-top: 5rem;
  } */
}
